
<!-- BEGIN NEW FOOTER -->
<div class="version_3 footer-widgets">
    <div class="wrap">
        <div class="footer-widgets-1 widget-area">
            <section id="text-2" class="widget widget_text">
                <div class="widget-wrap">
                    <div class="textwidget">
                        <ul id="social-links" class="sencha-social">
                            <li><a class="sencha-social" href="http://www.facebook.com/senchainc" target="_blank">Facebook</a></li>
                            <li><a class="sencha-social" href="http://twitter.com/sencha" target="_blank">Twitter</a></li>
                            <li><a class="sencha-social" href="https://www.linkedin.com/company/sencha-inc" target="_blank">LinkedIn</a></li>
                            <li><a class="sencha-social" href="http://www.youtube.com/SenchaInc" target="_blank">YouTube</a></li>
                            <li><a class="sencha-social" href="https://plus.google.com/117303203295549187007?prsrc=3" target="_blank">Google+</a></li>
                            <li><a class="sencha-social" href="https://vimeo.com/sencha" target="_blank">Vimeo</a></li>
                        </ul> <a href="#sencha_newsletter_form" class="button color-dark" id="sencha_newsletter_button">Get Sencha News</a><a href="https://www.sencha.com/store/" class="button color-orange">Buy Online</a></div>
                </div>
            </section>
        </div>
        <div class="footer-widgets-2 widget-area">
            <section id="hybrid-nav-menu-2" class="widget widget-nav-menu widget_nav_menu">
                <div class="widget-wrap">
                    <div class="menu-products-container">
                        <ul id="menu-products" class="menu">
                            <li id="menu-item-6207" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6207"><a href="https://www.sencha.com/web-application-lifecycle-management-sencha-platform/">Products</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-6104" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6104"><a href="https://www.sencha.com/business-web-applications-why-sencha/">Why Sencha</a></li>
                                    <li id="menu-item-6157" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6157"><a href="https://www.sencha.com/web-application-lifecycle-management-sencha-platform/">Sencha Platform</a></li>
                                    <li id="menu-item-6160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6160"><a href="https://www.sencha.com/products/extjs/">Ext JS</a></li>
                                    <li id="menu-item-12890" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12890"><a href="https://www.sencha.com/products/test/">Sencha Test</a></li>
                                    <li id="menu-item-6165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6165"><a href="https://www.sencha.com/products/gxt/">GXT</a></li>
                                    <li id="menu-item-6161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6161"><a href="https://www.sencha.com/products/touch/">Sencha Touch</a></li>
                                    <li id="menu-item-9479" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9479"><a href="https://www.sencha.com/products/ide-plugins/">IDE Plugins</a></li>
                                    <li id="menu-item-6159" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6159"><a href="https://www.sencha.com/products/sencha-cmd/">Cmd</a></li>
                                    <li id="menu-item-9480" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9480"><a href="https://www.sencha.com/products/inspector/">Inspector</a></li>
                                    <li id="menu-item-6164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6164"><a href="https://www.sencha.com/products/architect/">Architect</a></li>
                                    <li id="menu-item-6166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6166"><a href="https://www.sencha.com/products/web-application-manager/">Web Application Manager</a></li>
                                    <li id="menu-item-6105" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6105"><a href="https://market.sencha.com/">Sencha Market</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="footer-widgets-3 widget-area">
            <section id="hybrid-nav-menu-4" class="widget widget-nav-menu widget_nav_menu">
                <div class="widget-wrap">
                    <div class="menu-services-container">
                        <ul id="menu-services" class="menu">
                            <li id="menu-item-6108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6108"><a href="https://www.sencha.com/services/">Services</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-6107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6107"><a href="https://www.sencha.com/services/">Professional Services</a></li>
                                    <li id="menu-item-6498" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6498"><a href="https://www.sencha.com/partners/">Partners</a></li>
                                    <li id="menu-item-37" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-37"><a href="http://www.senchadevs.com/">Developer</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section id="hybrid-nav-menu-14" class="widget widget-nav-menu widget_nav_menu">
                <div class="widget-wrap">
                    <div class="menu-training-container">
                        <ul id="menu-training" class="menu">
                            <li id="menu-item-10191" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10191"><a href="https://www.sencha.com/training/">Training</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section id="hybrid-nav-menu-6" class="widget widget-nav-menu widget_nav_menu">
                <div class="widget-wrap">
                    <div class="menu-customers-container">
                        <ul id="menu-customers" class="menu">
                            <li id="menu-item-6110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6110"><a href="https://www.sencha.com/customers/">Customers</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="footer-widgets-4 widget-area">
            <section id="hybrid-nav-menu-7" class="widget widget-nav-menu widget_nav_menu">
                <div class="widget-wrap">
                    <div class="menu-support-container">
                        <ul id="menu-support" class="menu">
                            <li id="menu-item-6132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6132"><a href="https://www.sencha.com/support/">Support</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-6189" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6189"><a href="http://docs.sencha.com">Documentation</a></li>
                                    <li id="menu-item-6190" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6190"><a href="https://www.sencha.com/forum/">Forum</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section id="hybrid-nav-menu-8" class="widget widget-nav-menu widget_nav_menu">
                <div class="widget-wrap">
                    <div class="menu-resources-container">
                        <ul id="menu-resources" class="menu">
                            <li id="menu-item-6648" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6648"><a href="https://www.sencha.com/resources/">Resources</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-11417" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11417"><a href="http://video.sencha.com">Videos</a></li>
                                    <li id="menu-item-6836" class="menu-item menu-item-type-post_type_archive menu-item-object-webinar menu-item-6836"><a href="https://www.sencha.com/webinars/">Webinars</a></li>
                                    <li id="menu-item-11418" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11418"><a href="https://www.sencha.com/resources/#examples">Examples</a></li>
                                    <li id="menu-item-11419" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11419"><a href="https://www.sencha.com/resources/#datasheets">Datasheets</a></li>
                                    <li id="menu-item-11420" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11420"><a href="https://www.sencha.com/resources/#white-papers">White Papers</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="footer-widgets-5 widget-area">
            <section id="hybrid-nav-menu-9" class="widget widget-nav-menu widget_nav_menu">
                <div class="widget-wrap">
                    <div class="menu-company-container">
                        <ul id="menu-company" class="menu">
                            <li id="menu-item-6134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6134"><a href="https://www.sencha.com/company/">Company</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-6136" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6136"><a href="https://www.sencha.com/company/">Overview</a></li>
                                    <li id="menu-item-6144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6144"><a href="https://www.sencha.com/company/team/">Team</a></li>
                                    <li id="menu-item-6145" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6145"><a href="https://www.sencha.com/events/">Events</a></li>
                                    <li id="menu-item-6249" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6249"><a href="https://www.sencha.com/company/news/">In the News</a></li>
                                    <li id="menu-item-6245" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6245"><a href="https://www.sencha.com/company/press/">Press Releases</a></li>
                                    <li id="menu-item-6139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6139"><a href="https://www.sencha.com/company/careers/">Careers</a></li>
                                    <li id="menu-item-6225" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6225"><a href="https://www.sencha.com/company/contact/">Contact Us</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="footer-widgets-6 widget-area">
            <section id="hybrid-nav-menu-10" class="widget widget-nav-menu widget_nav_menu">
                <div class="widget-wrap">
                    <div class="menu-store-container">
                        <ul id="menu-store" class="menu">
                            <li id="menu-item-7959" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-7959"><a href="https://www.sencha.com/store/">Store</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-7958" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-7958"><a href="https://www.sencha.com/store/extjs/">Ext JS</a></li>
                                    <li id="menu-item-12763" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-12763"><a href="https://www.sencha.com/store/test/">Sencha Test</a></li>
                                    <li id="menu-item-7957" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-7957"><a href="https://www.sencha.com/store/gxt/">GXT</a></li>
                                    <li id="menu-item-7956" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-7956"><a href="https://www.sencha.com/store/architect/">Architect</a></li>
                                    <li id="menu-item-7954" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-7954"><a href="https://www.sencha.com/store/web-application-manager/">Web Application Manager</a></li>
                                    <li id="menu-item-6736" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6736"><a href="https://www.sencha.com/legal/">Licensing</a></li>
                                    <li id="menu-item-7953" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7953"><a href="https://www.sencha.com/ordering-faq/">Ordering Information</a></li>
                                    <li id="menu-item-6501" class="menu-item menu-item-type-post_type_archive menu-item-object-reseller menu-item-6501"><a href="https://www.sencha.com/partners/resellers/">Authorized Resellers</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<footer class="version_3 site-footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
    <div class="wrap">
        <p>&#x000A9;&nbsp;<%= Time.now.year %> Sencha Inc. All rights reserved.
            <br/>
            <label class="small"><small class="tiny"><sub class="tiny"><a  href="https://www.sencha.com/legal/privacy/">Privacy Policy</a> | <a  href="https://www.sencha.com/legal/terms-of-use/">Terms of Use</a></sub></small></label>
        </p>
    </div>
</footer>
<!-- CLOSE SITE CONTAINER  -->
</div>

<div id="form_modal" style="display:none;background: rgba(255, 255, 255, 0.35);cursor:pointer;z-index:100000;position:fixed;top:0;bottom:0;left:0;right:0;overflow:scroll;"></div>
<div class="version_3 callout" id="sencha_newsletter_form">
	<a href="#close" class="color-navy double right close"><span class="sencha-minus-circle">⊖</span></a>
	<h5 id="newsletterFormMessage" class="closer medium color-navy">Sign up for Sencha News</h5>
	<div class="marketo-fat-form">
		<div class="inner">
			<script src="//app-abj.marketo.com/js/forms2/js/forms2.js"></script>
			<form id="mktoForm_202"></form>
			<script>
				MktoForms2.loadForm("//app-abj.marketo.com","374-WES-121",202,function(e){e.onSuccess(function(){e.getFormElem().hide();var o=document.getElementById("newsletterFormMessage");return o.innerHTML="Thanks for your interest!",!1})});
			</script>
		</div>
	</div>
</div>
<script src="//munchkin.marketo.net/munchkin.js"></script>
<script>
	mktoMunchkin('374-WES-121');
</script>
<style type="text/css" media="all">
	h5#newsletterFormMessage{color:#055B80}div#sencha_newsletter_form,div#sencha_newsletter_form *{-webkit-box-sizing: border-box!important;-moz-box-sizing:border-box!important;box-sizing:border-box!important}form#mktoForm_202 *{}form#mktoForm_202{overflow:visible!important;width:200px!important;position:static!important;display:block;font-size:16px!important;padding:0!important}form#mktoForm_202.mktoForm .mktoClear{clear:both!important;float:none!important}form#mktoForm_202.mktoFormRow{display:table!important;width:200px!important;position:static!important;clear:both!important}form#mktoForm_202 .mktoGutter,form#mktoForm_202 .mktoOffset{float:left!important;height:1.2em!important;display:none!important}form#mktoForm_202 .mktoFieldWrap.mktoRequiredField{display:inline!important;position:static!important;float:left!important}form#mktoForm_202 .entry-content .mktoForm .mktoRequiredField label.mktoLabel,form#mktoForm_202 .entry-content label.mktoLabel.mktoHasWidth{display:none!important;position:static!important;width:auto!important;margin:0!important;vertical-align:baseline!important}form#mktoForm_202.mktoForm input[type=date],form#mktoForm_202.mktoForm input[type=email],form#mktoForm_202.mktoForm input[type=number],form#mktoForm_202.mktoForm input[type=tel],form#mktoForm_202.mktoForm input[type=text],form#mktoForm_202.mktoForm input[type=url],form#mktoForm_202.mktoForm select.mktoField,form#mktoForm_202.mktoForm textarea.mktoField{display:inline-block!important;vertical-align:middle!important;width:200px!important;padding:2px 3px!important}form#mktoForm_202 .entry-content .mktoForm .mktoFieldWrap,form#mktoForm_202 .entry-content .mktoForm .mktoFormCol{display:block!important}form#mktoForm_202 label.mktoLabel.mktoHasWidth[for=UserType]{display:none!important}form#mktoForm_202 textarea#Comments__c{float:right!important}form#mktoForm_202 .mktoAsterix{display:none!important;position:static!important;width:auto!important;float:right!important;color:#bf0000!important;padding-left:5px!important;padding-right:0!important}form#mktoForm_202 .mktoGutter.mktoHasWidth{display:none!important;float:left!important;height:1.2em!important}form#mktoForm_202 span.mktoButtonWrap.mktoRound{margin:0!important;padding:0!important}form#mktoForm_202 button.mktoButton{min-width:200px!important;margin:0 0 9px!important;background-color:#87BD3E!important;font-family:effra,sans-serif!important;text-align:center!important;-moz-border-radius:0!important;-webkit-border-radius:0!important;-ms-border-radius:0!important;-o-border-radius:0!important;height:auto!important;line-height:14px!important;font-size:14px!important;text-transform:uppercase!important;font-weight:500!important;padding:7px 13px!important;display:inline-block!important;vertical-align:middle!important;color:#FFF!important;letter-spacing:.5px!important;border-radius:0!important}form#mktoForm_202 button.mktoButton:hover{background-color:#A1A1A1!important}form#mktoForm_202 label.mktoLabel.mktoHasWidth{min-width:initial!important;height:100%!important;float:left!important;position:absolute!important;display:none!important;width:10px!important;left:-15px!important;line-height:20px!important;padding-top:0!important}form#mktoForm_202 label.mktoLabel.mktoHasWidth[for=State]{position:relative!important;width:60px!important;display:none!important;line-height:1.9em!important;margin-top:0!important;left:-5px!important;float:left!important}form#mktoForm_202 label.mktoLabel.mktoHasWidth[for=State] .mktoAsterix{left:-23px!important;position:absolute!important;padding-left:5!important;padding-right:0!important}form#mktoForm_202 select#State{width:200px!important;position:static!important;margin:0!important}div#sencha_newsletter_form{display:none;overflow:hidden!important;width:280px!important;padding-bottom:150px!important;padding-top:1em!important;position:fixed!important;left:50%!important;bottom:-60px!important;margin-left:-140px!important;z-index:100000!important;background:rgba(241,243,245,1)!important;text-align:center!important;margin-bottom:0!important;box-shadow: 0px 145px 75px -15px #555}div#sencha_newsletter_form a.close{font-size:16px!important;position:absolute!important;top:10px!important;right:30px!important;}
	body.ie8 form.mktoForm .mktoRequiredField label.mktoLabel, body.ie8 .entry-content form.mktoForm label.mktoLabel.mktoHasWidth, body.ie9 form.mktoForm .mktoRequiredField label.mktoLabel, body.ie9 .entry-content form.mktoForm label.mktoLabel.mktoHasWidth {display: inline!important; text-transform: none !important; padding:0!important; left:0!important; margin:0px!important; position:absolute!important; width:auto!important; } body.ie8 form.mktoForm .mktoRequiredField label.mktoLabel[for="State"], body.ie8 .entry-content form.mktoForm label.mktoLabel.mktoHasWidth[for="State"], body.ie9 form.mktoForm .mktoRequiredField label.mktoLabel[for="State"], body.ie9 .entry-content form.mktoForm label.mktoLabel.mktoHasWidth[for="State"]  {display:none!important;}
</style>
