<nav id="siteNav">
  <ul>
    <li class="with-sub">
      <a href="#" class="dropdown">Sencha Network</a>
      <div class="pop-nav zero" id="docs-dropdown">
        <ul>
          <li><a href="http://sencha.com">Sencha.com</a></li>
          <li><a href="http://developer.sencha.com/">Developer Center</a></li>
          <li><a href="http://senchadevs.com">Sencha Devs</a></li>
          <li><a href="http://sencha.com/forum/">Sencha Forum</a></li>
          <li><a href="http://market.sencha.com">Sencha Market</a></li>
          <li><a href="http://try.sencha.com/">Sencha Try</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
