<div id="content-wrapper">
  <div id="content">
    <h2 class="guide-title">Default typography</h2>
    <h1>This is a H1</h1>
    <h2>This is a H2</h2>
    <h3>This is a H3</h3>
    <h4>This is a H4</h4>
    <h5>This is a H5</h5>
    <h6>This is a H6</h6>
    <p>
      This is a paragraph of text. It should be long enough to wrap so I can test line-height. As long as I set some base styles for these elements it should mean that adding new elements will look well by default. Have a good day. I should also look at <a href="#">links</a>. They're important. You also have <strong>bold</strong> and <em>italic</em> styles.
    </p>
    <ul>
      <li>List item</li>
      <li>Another item</li>
      <li>More items</li>
      <li>Some for of item</li>
    </ul>
    <ol>
      <li>Number one</li>
      <li>Number two</li>
      <li>Number three</li>
    </ol>
    <h2 class="guide-title">Section specific typography</h2>
    <h1 class="section-soft-heading">Section Soft Heading</h1>

    <h2 class="guide-title">Colours</h2>
    <div class="guide-section">
      <div class="guide-color-box blue">
        <div class="color"></div>
        <p class="color-label">$c-blue</p>
      </div>

      <div class="guide-color-box light-blue">
        <div class="color"></div>
        <p class="color-label">$c-link-nav</p>
      </div>

      <div class="guide-color-box green">
        <div class="color"></div>
        <p class="color-label">$c-green</p>
      </div>

      <div class="guide-color-box grey-primary light">
        <div class="color"></div>
        <p class="color-label">$c-grey-primary</p>
      </div>

      <div class="guide-color-box grey-secondary">
        <div class="color"></div>
        <p class="color-label">$c-grey-secondary</p>
      </div>
    </div>

    <h2 class="guide-title">Buttons</h2>
    <div class="guide-section">
      <a href="#" class="button-link inline">Button</a>
    </div>
    
    <div class="guide-section">
      <a href="#" class="button-link inline smaller">Smaller Button</a>
    </div>

    <div class="guide-section">
      <a href="#" class="button-link secondary inline">Secondary Button</a>
    </div>
    
    <div class="guide-section">
      <a href="#" class="button-link secondary inline smaller">Smaller Secondary Button</a>
    </div>

    <div class="guide-section">
      <a href="#" class="button-link tertiary inline">Tertiary Button</a>
    </div>

    <div class="guide-section">
      <a href="#" class="button-link tertiary smaller inline">Smaller Tertiary Button</a>
    </div>

    <div class="guide-section">
      <a href="#" class="button-link delete inline">Delete Button</a>
    </div>

    <div class="guide-section">
      <a href="#" class="button-link delete smaller inline">Smaller Delete Button</a>
    </div>

    <div class="guide-section">
      <a href="#" class="button-link secondary jaded inline">Faded Button</a>
    </div>

    <div class="guide-section">
      <a href="#" class="button-link secondary jaded smaller inline">Faded Delete Button</a>
    </div>
  </div>
</div>