@mixin animation($animation-name, $duration, $delay, $iterations, $timing-function, $direction) {
  -webkit-animation: $animation-name $duration $delay $iterations $timing-function $direction;
  -webkit-animation: $animation-name $duration $delay $iterations $timing-function $direction;
  -moz-animation: $animation-name $duration $delay $iterations $timing-function $direction;
  -ms-animation: $animation-name $duration $delay $iterations $timing-function $direction;
  animation: $animation-name $duration $delay $iterations $timing-function $direction;
}

@-webkit-keyframes delayed-fade-out {
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}
@-moz-keyframes delayed-fade-out {
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}
@-ms-keyframes delayed-fade-out {
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}
@keyframes delayed-fade-out {
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}