// These styles are included in the Sencha Base application.css manifest file
// And then shared across all Sencha apps; ID, Devs and Market.

// Note Scss mixins need to be included in each app for compiling reasons.

// For image replacement
.ir {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -999em;
  direction: ltr;
  width: 0;
}
.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.visually-hidden.focusable:active, 
.visually-hidden.focusable:focus {
  position: static;
  margin: 0;
  height: auto;
  width: auto ;
  overflow: visible;
  clip: auto;
}